- var title = 'Frontend Prototype';

extends layouts/default

block prototypeCSS
    link(rel='stylesheet', href='/styles/prototype.css')

block content
    main#content.l-main(role="main")
        .l-constrained.work
            h1= title

            for sibling in nav.siblings
                if sibling.children.length
                    h1= sibling.title
                    if sibling.children.length
                        for section in sibling.children
                            section
                                h2= section.title
                                if section.children.length
                                ul
                                    for view in section.children
                                        if view.href
                                            li
                                                a(href=view.href)= view.title
                                        if view.children.length
                                            for f in view.children
                                                li
                                                    a(href=f.href)= f.title
